
<section id="about-basic-info" style="background-color: #f8f9fa; padding: 40px 0; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;">
    <div class="container" style="max-width: 1000px; margin: auto; background-color: #fff; border-radius: 6px; padding: 20px; box-shadow: 0 4px 6px 0 rgba(0,0,0,0.2);">
    
            <div style="padding: 20px; width: 40%;     float: inline-end;">
                <h2 style="font-size: 30px; font-weight: 700; color: #333; margin-bottom: 20px;">Bio</h2>
                <p style="font-size: 16px; line-height: 1.6; color: #666;"><strong style="color: #333;">EMAIL:</strong><span style="float: right;">anthony@company.com</span></p>
                <p style="font-size: 16px; line-height: 1.6; color: #666;"><strong style="color: #333;">PHONE:</strong><span style="float: right;">+1718-111-0011</span></p>
                <p style="font-size: 16px; line-height: 1.6; color: #666;"><strong style="color: #333;">ADDRESS:</strong><span style="float: right;">140, City Center, New York, U.S.A</span></p>
            </div>
            <div style="padding: 20px; width: 40%;">
             
                <h2 style="font-size: 30px; font-weight: 700; color: #333; margin-bottom: 20px;">About</h2>
                <p style="font-size: 16px; line-height: 1.6; color: #666;">Hello! I am Anthony Barnett. Web Developer, Graphic Designer and Photographer.</p>
                <p style="font-size: 16px; line-height: 1.6; color: #666;">Creative CV is a HTML resume template for professionals. Built with Bootstrap 4, Now UI Kit and FontAwesome, this modern and responsive design template is perfect to showcase your portfolio, skills and experience. <a href="#" style="color: #007bff;">Learn More</a></p>   
            </div>
     
    </div>
</section>
