<link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic|Open+Sans:300,400,500,700|Waiting+for+the+Sunrise|Shadows+Into+Light' rel='stylesheet' type='text/css'>

<div class="wrapper clearfix">
  <div class="left" style="background-color:rgba(0,0,0,.025);
  border-right:1px solid rgba(0,0,0,.05);
  float:right;
  height:100%;
  margin-left:-1px;
  min-width:256px;
  position:fixed;
  width:33.33%;">

    <div>

      <div ></div>

    </div>

  </div>
  <div class="right" style="float:right;
  height:100%;
  position:relative;
  width:66.66%;">

    <div class="inner" style="margin:0 auto;
	max-width:975px;
	padding:3em;">
      <section>
        <h1 style="	font-size:1.75em;">Technical Skills</h1>
        <ul class="skill-set" style="list-style-type:none; margin-top:-10px; max-width:570px; padding:0;">
          <li style="background:rgba(0,0,0,.75);
          border-radius:5px;
          color:#FFF;
          display:inline-block;
          list-style:none;
          margin:15px 15px 0 0;
          padding:10px;
          text-align:justify;">Mobile Development</li>
          <li style="background:rgba(0,0,0,.75);
          border-radius:5px;
          color:#FFF;
          display:inline-block;
          list-style:none;
          margin:15px 15px 0 0;
          padding:10px;
          text-align:justify;">Xamarin</li>
          <li style="background:rgba(0,0,0,.75);
          border-radius:5px;
          color:#FFF;
          display:inline-block;
          list-style:none;
          margin:15px 15px 0 0;
          padding:10px;
          text-align:justify;">CSS3</li>
          <li style="background:rgba(0,0,0,.75);
          border-radius:5px;
          color:#FFF;
          display:inline-block;
          list-style:none;
          margin:15px 15px 0 0;
          padding:10px;
          text-align:justify;">Adobe Photoshop</li>
          <li style="background:rgba(0,0,0,.75);
          border-radius:5px;
          color:#FFF;
          display:inline-block;
          list-style:none;
          margin:15px 15px 0 0;
          padding:10px;
          text-align:justify;">HTML5</li>
          <li style="background:rgba(0,0,0,.75);
          border-radius:5px;
          color:#FFF;
          display:inline-block;
          list-style:none;
          margin:15px 15px 0 0;
          padding:10px;
          text-align:justify;">CSS3</li>
          <li style="background:rgba(0,0,0,.75);
          border-radius:5px;
          color:#FFF;
          display:inline-block;
          list-style:none;
          margin:15px 15px 0 0;
          padding:10px;
          text-align:justify;">JQUERY</li>
          <li style="background:rgba(0,0,0,.75);
          border-radius:5px;
          color:#FFF;
          display:inline-block;
          list-style:none;
          margin:15px 15px 0 0;
          padding:10px;
          text-align:justify;">UI Design</li>
          <li style="background:rgba(0,0,0,.75);
          border-radius:5px;
          color:#FFF;
          display:inline-block;
          list-style:none;
          margin:15px 15px 0 0;
          padding:10px;
          text-align:justify;">Company Branding</li>
        </ul>
      </section>
    </div>

  </div>

</div>